@font-face {
  font-family: 'Arial';
  src: url('fonts/arial.ttf');
}

@font-face {
  font-family: 'Consolas';
  src: url('fonts/consola.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Regular.ttf');
}

@font-face {
  font-family: 'Calibri';
  src: url('fonts/calibri.ttf');
}

@font-face {
  font-family: 'Tahoma';
  src: url('fonts/tahoma.ttf');
}