body {
  font-family: 'Calibri', 'Tahoma', Arial, Helvetica, sans-serif;
  --selection-background: hsl(220, 100%, 50%);
}

.banner {
  display: flex;
  align-items: center;
}

.logo {
  color: #00aaff;
  font-family: 'Tahoma';
}

.logo::before {
  content: '>';
  font-weight: bold;
}

#input .logo{
  transform: translateY(5px);
}

.title {
  font-size: 48px;
}

#input{
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  display: flex;
}

#console .response{
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

#console pre::before{
  font-weight: bold;
  color: #00aaff;
  font-family: 'Tahoma';
}

#console .response pre::before{
  content: '↪';
}

#console pre::before{
  content: '>';
}

#console #input pre::before{
  content: '';
}

.prism-live:not(.donotfill){
  width: -webkit-fill-available;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
}

button:disabled {
  background-color: buttonface;
}

button:not(:disabled) {
  background-color: #0080ff;
  border: 2px solid;
}

button:active {
  background-color: #0060c0;
  border: 2px solid;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #0000001c;
  width: -webkit-fill-available;
  padding: 15px;
}