body {
  font-family: 'Calibri', 'Tahoma', Arial, Helvetica, sans-serif;
  --selection-background: hsl(220, 100%, 50%);
  --console-font: 'Consolas';
  --console-font-size: 16px;
}

.banner {
  display: flex;
  align-items: center;
}

.logo {
  color: #00aaff;
  font-family: 'Tahoma';
}

.logo::before {
  content: '>';
  font-weight: bold;
}

#input .logo{
  transform: translateY(5px);
}

.title {
  font-size: 48px;
}

.signleline {
  display: flex !important;
}

#input{
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  display: flex;
}

#settings{
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  background-color: #000000cc;
  padding: 50px;
  z-index: 10;
  color: white;
}

#settings:not(.visible){
  display: none;
}

#settings i.close{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#console .response{
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

#console pre::before{
  font-weight: bold;
  color: #00aaff;
  font-family: 'Tahoma';
}

#console pre:not(.nologo)::before, :not(#console #input pre::before){
  content: '>';
}

#console .response pre:not(.nologo)::before{
  content: '↪';
}

#console pre.warn::before{
  content: '⚠️';
}

#console pre.warn{
  background-color: #ffffa1;
}

#console pre.error::before{
  content: '❌';
}

#console pre.error{
  background-color: #ffbbbb;
}

code[class*="language-"], pre[class*="language-"]{
  font-family: var(--console-font);
}

div.prism-live{
  font-family: var(--console-font) !important;
  font-size: var(--console-font-size) !important;
  font: var(--console-font-size) var(--console-font) !important;
}

div.prism-live pre{
  font-family: var(--console-font) !important;
  font-size: var(--console-font-size) !important;
  font: var(--console-font-size) var(--console-font) !important;
}

.prism-live:not(.donotfill){
  width: -webkit-fill-available;
}

div.prism-live textarea{
  font-family: var(--console-font) !important;
  font-size: var(--console-font-size) !important;
  font: var(--console-font-size) var(--console-font) !important;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
}

button:disabled {
  background-color: buttonface;
}

button:not(:disabled) {
  background-color: #0080ff;
  border: 2px solid;
}

button:active {
  background-color: #0060c0;
  border: 2px solid;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #0000001c;
  width: -webkit-fill-available;
  padding: 15px;
}